body{
    margin: 0;
    background-image: url(butik2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.Knappar{
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
    justify-content: center;

    
}

.knapp{
  padding: 10vw 15vw; /* Responsiv padding */
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 3vw;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-size: 5vw; /* Responsiv textstorlek */
  text-decoration: none;
  box-shadow: 1vw 1vw 2vw rgba(73, 72, 72, 0.8);
  color: white;
  text-align: center;
  min-width: 40vw;
  text-shadow: 0.2vw 0.2vw 0.5vw rgba(0, 0, 0, 0.6);   
}

.knapp:hover{
    background-color: rgb(225, 180, 97);

}

a:visited{
    color: inherit;
}

@media (max-width: 400px) {
      .knapp {
        font-size: 6vw;
        padding: 10vw 12vw;
    }
}      